body {
    font-family: 'Roboto', sans-serif; 
    background-color: #282c34; 
    color: #ffffff; 
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    margin: 40px auto;
    padding: 30px;
    background-color: #3c404d; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
    border-radius: 15px; 
}

h1 {
    color: white; 
}

.instructions {
    font-size: 20px;
    margin-bottom: 30px;
    color: #adbac7;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 211.8px;
    height: 166.2px;
    background-color: #565c6f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    visibility: hidden; /* Hide images by default */
    display: block;
}

.card.show img {
    visibility: visible; /* Show image when card is flipped */
}

#start-game {
    background-color: #4caf50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

#start-game:hover {
    background-color: #43a047; /* Darker on hover */
    transform: scale(1.05); /* Slightly enlarges on hover */
}
